login{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-form{
  position: relative;
  z-index: 1;
  display:flex;
  flex-grow: 1;
  width: 100%;
}

.login-form-wrapper {
  display: flex;
  flex-grow: 0.2;
  flex-direction: column;
  margin: auto;

  input {
    background: rgba(102,51,153, 0.4);
    text-align: center;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 6px;
    margin: 4px;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity:  1;
}

.button-wrapper{
  display: flex;
  flex-direction: row;

  button{
    flex-grow: 1;
    text-align: center;
    background-color: darkslateblue;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 6px;
    margin: 4px;
  }

  .login-form-sign-up-button{
    background-color: darkmagenta;

  }
}


