<nav-bar></nav-bar>
<form name="loginForm" class="login-form">
  <div class="login-form-wrapper">
    <div class="login-form-top-popup" ng-if="loginForm.$pristine && $ctrl.loginOrSignUpFailure">
      <p>{{ $ctrl.loginOrSignUpFailureMessage }}</p>
    </div>
    <input type="email"
           placeholder="Email"
           ng-model="$ctrl.loginData.email"
           ng-required="true" />
    <input type="password"
           placeholder="Password"
           ng-model="$ctrl.loginData.password"
           ng-required="true"
           required/>
    <div class="button-wrapper">
      <button class="login-form-login-button"
              ng-click="loginForm.$valid && $ctrl.auth('login')">
        Login
      </button>
      <button class="login-form-sign-up-button"
              ng-click="loginForm.$valid && $ctrl.auth('signUp')">
        Sign Up
      </button>
    </div>
  </div>
</form>




