<nav-bar email="$ctrl.user.email">
</nav-bar>

<main class="main">
    <div class="new-task" ng-init="showNewTaskInput = false">
        <button class="task-add-button" ng-hide="showNewTaskInput" ng-click="showNewTaskInput = true">add task</button>
        <input type="text" class="new-task-input" ng-show="showNewTaskInput" ng-model="$ctrl.newTask">
        <button class="button" ng-show="showNewTaskInput" ng-click="$ctrl.addNewTask()">Add Task</button>
    </div>
    <div class="main-tasks">
      <ul>
        <li ng-repeat="task in $ctrl.user.tasks">

          <!-- task view -->
          <div class="task-wrapper" ng-hide=" $ctrl.editView[ $index ] ">
            <div class="task-mock-box"></div>
            <div class="task">
              <p>{{ task.task }}</p>
            </div>

            <div class="buttons-section">
              <div class="button-wrapper">
                <button class="button" ng-click="$ctrl.viewSwitcher( $index )">edit</button>
                <button class="button" ng-click="$ctrl.deleteTask( task._id )">delete</button>
              </div>
            </div>
          </div>

          <edit-input class="task-wrapper" ng-cloak ng-if="$ctrl.editView[ $index ]" task="task" index="$index" on-edit="$ctrl.editTask( altTask, taskId, index )" on-cancel="$ctrl.viewSwitcher()"

        </li>
      </ul>
    </div>
</main>
